# GCP configurations
GOOGLE_APPLICATION_CREDENTIALS=./keys/<YOUR GCP SERVICE ACCOUNT KEY>.json
GCS_BUCKET_NAME=<YOUR GCS BUCKET NAME>
BQ_DATASET=<YOUR BIGQUERY DATASET NAME>
GCP_PROJECT_ID=<YOUR GCP PROJECT ID>

# data.gov.sg API configurations
DATA_GOV_BASE_URL=https://data.gov.sg/api/action/datastore_search
DATA_GOV_SCHOOLS_DATASET_ID=d_688b934f82c1059ed0a6993d2a829089
DATA_GOV_API_KEY=<YOUR DATA GOV API KEY>

# LLM API key
GROQ_API_KEY=<YOUR GROQ API KEY>
ADVISOR_PRIMARY_MODEL=llama-3.3-70b-versatile
ADVISOR_FALLBACK_MODELS=openai/gpt-oss-120b,meta-llama/llama-4-scout-17b-16e-instruct,qwen/qwen3-32b,openai/gpt-oss-20b,llama-3.1-8b-instant
ADVISOR_SHOW_MODEL_USED=false
